.emoji img {
    width: 250px;
}

.emoji .error {
    content:url("../images/error.png");
}

.emoji .idle {
    content:url("../images/idle.png");
}

.emoji .listening {
    content:url("../images/listening.png");
}

.emoji .negative {
    content:url("../images/negative.png");
}

.emoji .neutral {
    content:url("../images/neutral.png");
}

.emoji .positive {
    content:url("../images/positive.png");
}

.emoji .searching {
    
    content:url("../images/searching.png");
}
.emoji #ex2{    
    width: 100%;
    color:white;
    background-color: black;
    font-family:arial;
    }
    #ex2>b{
    display: block;
    color: #2c3e50;
    font-size: 24px;
    text-align: center;
    }
    #ex2>a{
    display: block;
    color: white;
    font-size: 24px;
    text-align: center;
    }    
    #ex2>div{
    display: inline-block;
    vertical-align: top;
    }
    #ex2>div>div{
    border: 1px solid white;
    color: white;
    background-color: #2c3e50;
    margin: 1%;
    padding:1%;
    }
    #ex2>div>div>span{
    text-align: center;
    font-size:32px;
    color: white;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }
    #ex2>div>div>div{
    font-size:20px;
    color: white;
    text-align: center;
    overflow-x: hidden;
    }
    #ex2>div>div>svg{
    width: 95%;
    height: 35%;
    display: block;
    margin: 10px auto 0 auto;
    }
    #ex2 [shadow]{
        filter:drop-shadow(0 0 25px rgb(0,50,50));
        padding:15px 0;
        }

.icon {
    padding: 15px 60px;
    border: none;
}

button {
    padding: 15px 60px;
    border: none;
    background-color: rgb(221, 93, 18);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#movies, #movie img{
    width: 100%;
}

@media(min-width:960px){
#movies .col-md-3 .well{
    height: 390px;
}

#movies .col-md-3 img{
    height: 240px;
}
}

.topnav-centered a {
    float: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  footer {
    background-color: #2c3e50!important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
.emoji .weather-01d::before {
    content:url("../images_weather/day_clear.png");
}

.emoji .weather-01n::before {
    content:url("../images_weather/night_full_moon_clear.png");
}

.emoji .weather-02d::before {
    content:url("../images_weather/day_partial_cloud.png");
}

.emoji .weather-02n::before {
    content:url("../images_weather/night_full_moon_partial_cloud.png");
}

.emoji .weather-03d::before {
    content:url("../images_weather/cloudy.png");
}

.emoji .weather-03n::before {
    content:url("../images_weather/cloudy.png");
}

.emoji .weather-04d::before {
    content:url("../images_weather/angry_clouds.png");
}

.emoji .weather-04n::before {
    content:url("../images_weather/angry_clouds.png");
}

.emoji .weather-09d::before {
    content:url("../images_weather/rain.png");
}

.emoji .weather-09n::before {
    content:url("../images_weather/rain.png");
}

.emoji .weather-10d::before {
    content:url("../images_weather/day_rain.png");
}

.emoji .weather-10n::before {
    content:url("../images_weather/night_full_moon_rain.png");
}

.emoji .weather-11d::before {
    content:url("../images_weather/thunder.png");
}

.emoji .weather-11n::before {
    content:url("../images_weather/thunder.png");
}

.emoji .weather-1232n::before {
    content: "\ea0f";
}

.emoji .owi-13d::before {
    content:url("../images_weather/snow.png");
}

.emoji .owi-13n::before {
    content:url("../images_weather/snow.png");
}

.emoji .owi-50d::before {
    content:url("../images_weather/mist.png");
}

.emoji .owi-50n::before {
    content:url("../images_weather/mist.png");
}

.emoji .popcorn{
    content:url("../images/popcorn.png");
}


.topnav-right {
    float: right;
  }

  .content {
    max-width: 5000px;
    margin: auto;
  }
  
