.weather {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 OpenWeatherIcons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}  

.weather-01d::before {
    content:url("../images_weather/day_clear.png");
}

.weather-01n::before {
    content:url("../images_weather/night_full_moon_clear.png");
}

.weather-02d::before {
    content:url("../images_weather/day_partial_cloud.png");
}

.weather-02n::before {
    content:url("../images_weather/night_full_moon_partial_cloud.png");
}

.weather-03d::before {
    content:url("../images_weather/cloudy.png");
}

.weather-03n::before {
    content:url("../images_weather/cloudy.png");
}

.weather-04d::before {
    content:url("../images_weather/angry_clouds.png");
}

.weather-04n::before {
    content:url("../images_weather/angry_clouds.png");
}

.weather-09d::before {
    content:url("../images_weather/rain.png");
}

.weather-09n::before {
    content:url("../images_weather/rain.png");
}

.weather-10d::before {
    content:url("../images_weather/day_rain.png");
}

.weather-10n::before {
    content:url("../images_weather/night_full_moon_rain.png");
}

.weather-11d::before {
    content:url("../images_weather/thunder.png");
}

.weather-11n::before {
    content:url("../images_weather/thunder.png");
}

.weather-1232n::before {
    content: "\ea0f";
}

.owi-13d::before {
    content:url("../images_weather/snow.png");
}

.owi-13n::before {
    content:url("../images_weather/snow.png");
}

.owi-50d::before {
    content:url("../images_weather/mist.png");
}

.owi-50n::before {
    content:url("../images_weather/mist.png");
}

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

  
  
.ajax-section {
    margin: 70px 0 20px;
  }
  
  .ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
  }
  
  .ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    text-align: right;
    font-size: 1rem;
    color: var(--text_light);
    margin-top: 40px;
  }
  
  .page-footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }